.container{
    width: 80%;
    background-color: aqua;
    margin: auto;
    text-align: center;
    margin-top: 34px;

}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.tophead{
	background-color:#256a52;
	width: 100%;
	display: flex; 
	 justify-content:space-between ;
	 align-items: center;
	 height: 65px;
	 
}
header{
	width: 100%;
}

.logo{
	font-size: 2.1em;
	color: white;
	padding-left: 50px;
	cursor: pointer;
}

.menu{
	color: white;
	font-size: 2.1em;
	cursor: pointer;
	margin-right: 33px;
}



.sidenav{
	width:0%;
	height:100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0,0.8);
	overflow-x: hidden;
	padding-top: 60px;
	transition: all 0.5s;
	
	
}
a{
	text-decoration: none;
	display: block;
	font-size: 20px;
	color: white;
	padding: 30px 0px 30px 30px;
}
a:hover{
	color:rgba(209, 174, 174, 0.7);
}

.closebtn{
	font-size: 34px;
	position: absolute;
	top: 0;
	right: 25px;
}


input{
    margin: 12px;
    padding:4px;
    border: 2px solid blue;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    
    
    

}
input:hover{
    background-color: rgb(133, 171, 221);
    
}
.form{
    display: inline;
    text-align: center;
}
#desc{
    text-align: center;
}
body{
    background-image: url('student.jpg');
    background-repeat:no-repeat;
    font-weight: bold;
    background-size: cover;
    opacity: 0.6;
    background-color: rgb(210, 231, 231);
    
}
        
 #male {
     font-size:19px ;
 }
   
.container {
    border-radius: 7px;
}
